<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<div>
			<input type="text" v-model="busqueda">
			<button v-on:click="obtenerPaises">Buscar</button>
		</div>
		 <ul>
		 	<!-- OBTENGO EL OBJ Producto y el indice -->
		 	<li v-for="(pais, index) in paises">
		 		{{pais.name}}
		 	</li>
		 </ul>
	</div>

	<script type="text/javascript">
		let API 	= "https://restcountries.eu/rest/v2/name/";

		let app = new Vue({
			el: '#app',
			data: {
				paises: [],
				busqueda: ''
			},
			methods: {
				obtenerPaises: function () {
					axios.get(API + this.busqueda).then( (res) => {
						this.paises = res.data;
					})
				}
			}
		})
	</script>
</body>
</html>