<!DOCTYPE html>
<html>
<head>
	<title>TICKET - VUE</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--  -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- LIB VUE -->
    <script type="text/javascript" src="lib/vue.js"></script>
</head>
<body>

	<!-- 

		1. Que pueda obtener productos de un array en memoria según el nombre o código √
		2. Agregar el producto seleccionado en una lista y que vaya sumando el subtotal de la lista
			- Agregar producto a una lista: "cajaLista" √
			- A cajaLista c/vez que se agrega un producto que sume el subtotal √
			- Calcular subtotal cuando modifique la cantidad √
				- Verificar si existe un evento keyup v-on:keyup √
			- Quitar que elimine item e impacte en el subtotal √

		3. Tener un campo que configure los impuestos y agregue al total √
		4. Generar el cierre de caja detallando lo vendido en el día √


	 -->
	<div id="app">
		<div id="pantalla-01" v-if="!cierreTicket">
			<div class="header">
				<div class="row">
					<div class="col-6">
						<div class="buscar--productos row">
							<div class="col-6">
								<input type="text" class="form-control" placeholder="Buscar producto, COD" v-model="busqueda">
							</div>
							<div class="col-6">
								<button class="btn btn-primary" v-on:click="buscarProductos">Buscar</button>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="impuestos--container">
							<input type="number" placeholder="Imp." class="form-control col-3" style="float: right;" v-model="impuestos">
							<label>Imp.</label>
						</div>
					</div>
				</div>
			</div>
			<div class="caja--component">
				<div class="row">
					<div class="col-4 display--products">
						<div class="producto--component" v-for="(producto, key) in resultados">
							<h2>{{producto.nombre}}</h2>
							<div>
								<span class="producto--precio">{{producto.moneda}} {{producto.precio}}</span>
								<input type="number" name="" class="form-control" v-model="producto.cantidad">
								<br>
								<button class="btn btn-success" v-on:click="agregarCaja(producto)">Agregar</button>
							</div>
						</div>
					</div>
					<div class="col-8 display--caja">
						<div class="caja--field">
							<table class="table">
								<thead>
									<tr>
										<th>Producto</th>
										<th>Precio</th>
										<th>Cantidad</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(producto, key) in cajaLista">
										<td># {{producto.nombre}}</td>
										<td>$ {{producto.precio}}</td>
										<td>
											<input type="number" name="" class="form-control" placeholder="Cantidad" v-model="producto.cantidad" v-on:keyup="procSubTotal">
										</td>
										<td>
											<button class="btn btn-danger" v-on:click="eliminarItemCaja(key)">Quitar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="caja--field">
							<p><b>Subtotal: </b> $ {{subTotal}}</p>
						</div>

						<div class="caja--field">
							<p><b>Total: </b> $ {{subTotal * impuestos}} <button class="btn btn-success" style="float: right;" v-on:click="cierre">Cierre <b>TICKET</b></button></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="pantalla-02" v-if="cierreTicket">
			<div class="row">
				<div class="col-12 display--caja">
						<div class="caja--field">
							<h2 class="text-center">Cierre de Ticket - {{fecha}}</h2>
						</div>
						<div class="caja--field">
							<table class="table">
								<thead>
									<tr>
										<th>Producto</th>
										<th>Precio</th>
										<th>Cantidad</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(producto, key) in cajaLista">
										<td># {{producto.nombre}}</td>
										<td>$ {{producto.precio}}</td>
										<td>
											<input type="number" name="" class="form-control" v-model="producto.cantidad" readonly="">
										</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="caja--field">
							<p><b>Total: </b> $ {{subTotal * impuestos}} <button class="btn btn-secondary" style="float: right;" v-on:click="volver">Volver</button></p>
						</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="app/app.js"></script>
</body>
</html>