@media all {
	.header {
		padding: 1rem;
	}

	.producto--component {
		border:1px solid #999;
		border-radius: 0.5rem;
		padding: 1rem;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
	.producto--component h2 {
		font-size: 1rem;
	}

	.caja--field {
		padding: 1rem;
		border:1px solid #999;
		border-radius: 0.5rem;
		margin-bottom: 0.5rem;
		margin-right: 1rem;
	}
	.impuestos--container label {
		float: right;
		line-height: 2.3rem;
		padding-right: 0.5rem;

	}
}