<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		 <ul>
		 	<!-- OBTENGO EL OBJ Producto y el indice -->
		 	<li v-for="(pais, index) in paises">
		 		{{pais.name}}
		 	</li>
		 </ul>
		 <button v-on:click="obtenerPaises">Obtener paises</button>
	</div>

	<script type="text/javascript">
		let API 	= "https://restcountries.eu/rest/v2/all";

		let app = new Vue({
			el: '#app',
			data: {
				paises: [],
				resultado: '',
				indice: 0
			},
			methods: {
				obtenerPaises: function () {
					let xhttp 	= new XMLHttpRequest();
					
					// LA FUNCION FLECHA 
					// Utiliza el ambito del VUE
					xhttp.onreadystatechange = () => {
						if (xhttp.readyState == 4) {
							let paises = JSON.parse(xhttp.responseText)

							this.paises = paises;

							console.log("paises: ", paises);
						}
					}

					// GENERA UN AMBITO
					// this.paises hace parte del "onreadystatechange"
					// xhttp.onreadystatechange = function () {
					// 	if (xhttp.readyState == 4) {
					// 		let paises = JSON.parse(xhttp.responseText)

					// 		this.paises = paises;

					// 		console.log("paises: ", paises);
					// 	}
					// }

					// OBTENER LOS DATOS POR GET
					xhttp.open('GET', API);
					xhttp.send();
				}
			}
		})
	</script>
</body>
</html>