<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>

	<script type="text/javascript" src="./lib/vue.js"></script>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--  -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<!-- TODO EL AMBIENTE DE VUE -->
	<div id="app">
		<!-- COMPONENTE DE MENU -->
		<menu-component
			v-bind:items="menuItems"
			v-bind:title="titulo">
		</menu-component>

		<div class="container main--container">
			<h1>{{titulo}}</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<!-- COMPONENTE FOOTER -->
		<footer-item 
			v-bind:title="titulo" 
			v-bind:year="anio">
		</footer-item>
	</div>

	<!-- SERVICIOS -->
	<script type="text/javascript" src="servicio.js"></script>

	<!-- CARGAR COMPONENTES -->
	<script type="text/javascript" src="components/contact/contact.component.js"></script>
	<script type="text/javascript" src="components/blog/blog.component.js"></script>
	<script type="text/javascript" src="menu.component.js"></script>
	<script type="text/javascript" src="footer.component.js"></script>
	
	<!-- INSTANCIAR LA APP -->
	<script type="text/javascript" src="app.js"></script>

	<!-- SCRIPT EXT -->
</body>
</html>