@media all {
	.footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		background-color: #343a40;
		margin-bottom: 0;
		color: #fff;
		padding: 0.5rem;
	}
	.footer p {
		margin-bottom: 0;
	}
	.main--container {
		padding-top: 2rem;
	}
}