<div class="container">
	<form style="margin-top: 2rem;">
		<input type="text" name="" class="form-control" placeholder="Nombre" v-model="producto.nombre">
		<br>
		<button class="btn btn-success" type="button" v-on:click="guardarProducto">Guardar</button>
		<button class="btn btn-danger" type="button" v-on:click="eliminarProducto">Eliminar</button>
	</form>
</div>