<div class="container">
	<h2>{{titulo}} <router-link style="float: right;" class="btn btn-primary" to="/producto/new">Crear</router-link></h2>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="producto in productos">
				<td>{{producto.id}}</td>
				<td>{{producto.nombre}}</td>
				<td>
					<router-link class="btn btn-primary" v-bind:to="'/producto/' + producto.id">Editar</router-link>
				</td>
			</tr>
		</tbody>
	</table>
</div>