<template>
  <app-navigator></app-navigator>
</template>

<!-- Agregar la lógica de Vue -->
<script>
  import Contactos from './components/Contactos'
  import ContactoForm from './components/ContactoForm'

  import {
  createAppContainer,
  createStackNavigator, createDrawerNavigator, createMaterialTopTabNavigator} from "vue-native-router";

  const StackNavigator = createMaterialTopTabNavigator(
    {
      Listado: Contactos,
      '+ Contacto': ContactoForm
    },
    {
      initialRouteName: 'Listado',
    }
  );

  const AppNavigator = createAppContainer(StackNavigator);


	// Pueden importar modulos
	export default {
    components: {AppNavigator}
	};
</script>

<style>
.container {
  background-color: white;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.text-color-primary {
  color: blue;
  margin-bottom: 20;
}
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  border-width: 1;
  border-color: #333;
  padding: 10;
  margin: 20;
  background-color: #333;
}
.buttonText {
  color: #fff;
}
</style>
