<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		 <ul>
		 	<!-- OBTENGO EL OBJ Producto y el indice -->
		 	<li v-for="(producto, index) in productos"
		 		v-on:click="obtenerItem(producto, index)"
		 	>
		 		{{producto.nombre}}
		 	</li>
		 </ul>
		 <div>
		 	<input type="text" name="" v-model="resultado">
		 	<button v-on:click="modificarItem">Modificar</button>
		 	<button v-on:click="eliminarItem">Eliminar</button>
		 </div>
	</div>

	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				productos: [
					{
						nombre: "Manzana"
					},
					{
						nombre: "Pera"
					},
					{
						nombre: "Naranja"
					}
				],
				resultado: '',
				indice: 0
			},
			methods: {
				obtenerItem: function (item, ind) {
					this.resultado = item.nombre;
					this.indice    = ind;
				},
				modificarItem: function (){
					this.productos[this.indice].nombre = this.resultado;
				},
				eliminarItem: function (){
					if(this.indice || this.indice == 0){
						this.productos.splice(this.indice, 1);
						this.indice 	= undefined;
						this.resultado 	= '';
					}
				}
			}
		})
	</script>
</body>
</html>