<div id="contact--container">
	<h2>Blog</h2>
	<p>{{text}}</p>
	<button v-on:click="addholaMundo">Change</button>
	<div style="margin-bottom: 4rem" v-for="item in itemsBlog">
		<h3>{{item.titulo}}</h3>
		<img v-bind:src="item.img">
		<p>{{item.parrafo}}</p>
		<a href="#" class="btn btn-primary">{{item.btnText}}</a>
	</div>
</div>