<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!-- CDN Socket -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

	<!-- CDN Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div id="app">
		<div class="container" style="margin-top: 2rem;">
			<div class="row">
				<div class="col-4">
					<input  type="text"
							class="form-control" 
							v-model="userName"
							placeholder="Usuario" 
					>
				</div>
			</div>
			<ul style="padding-top: 1rem; padding-bottom: 1rem;">
				<li v-for="msg in messageArr">
					<p><b>{{msg.user}}</b>: {{msg.text}}</p>
				</li>
			</ul>
			<form class="row" v-on:submit.prevent="sendMsg">
				<div class="col-8">
					<input type="text" v-model="message" class="form-control">
				</div>
				<div class="col-4">
					<button class="btn btn-success">Enviar</button>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		const server = 'http://localhost:3000';
		// Init socket
		let socket = io(server)

		let app = new Vue({
		  el: '#app',
		  data: {
		    message: '',
		    userName: '',
		    messageArr: []
		  },
		  methods: {
		  	sendMsg: function (argument) {
		  		socket.emit('msg', {
		  			user: this.userName,
		  			text: this.message
		  		})
		  		this.message = ''
		  	}
		  },
		  mounted: function (argument) {
		  	socket.on('msg', (msg) => {
		  		console.log("recive socket ::", msg)
		  		this.messageArr.push(msg)
		  	})
		  }
		})
	</script>
</body>
</html>