<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<script type="text/javascript" src="./lib/vue.js"></script>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<!-- COMPONENTE REUTILIZABLE -->
	<div id="app">

		<!-- CREAR UN COMPONENTE CON UN TAG HTML CUSTOM -->
		<ul>
			<menu-item
				v-for="item in menuItems"
				v-bind:menu-item="item"
			></menu-item>
		</ul>

		<h1>{{titulo}}</h1>
		<p>
			{{parrafo}}
		</p>
	</div>

	<script type="text/javascript">
		// SINTAXIS PARA GENERAR EL COMPONENTE	
		Vue.component('menu-item', {
		  props: ['menuItem'],
		  template: `
			<li>
				<a v-bind:href="menuItem.link">{{menuItem.nombre}}</a>
			</li>
		  `
		})

		let app = new Vue({
			el: '#app',
			data: {
				titulo: 'Bienvenido a mi blog!',
				parrafo: `Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`,
				menuItems: [
					{
						nombre: "Home",
						link: "#"
					},
					{
						nombre: "Blog",
						link: "#blog"
					},
					{
						nombre: "Contacto",
						link: "#contacto"
					}
				]
			}
		})
	</script>
</body>
</html>