<!DOCTYPE html>
<html>
<head>
	<title>VUE APP</title>
	<script src="./lib/vue.js"></script>
</head>
<body>
	<div id="app">
		<h2>Caso 1</h2>
		<!-- ARRAY COMUN -->
		<ul>
			<li v-for="producto in productos" v-on:click="obtenerItem(producto)">{{producto}}</li>
		</ul>

		<h2>Caso 2</h2>
		<!-- ARRAY DE OBJETOS -->
		<ul>
			<li v-for="producto in productos2" v-on:click="obtenerItem2(producto)">{{producto.nombre}}</li>
		</ul>

		<div id="resultado">
			<input type="text" v-model="resultado">
		</div>
	</div>

	<script type="text/javascript">
		
		// DEFINO UN ARRAY productos: ['Manzana','Pera','Naranja']
		// LUEGO DEFINO UNA propiedad show: false
		// POR DEFECTO EL id="resultado" no se debe ver

		let app = new Vue({
						  el: '#app',
						  data: {
						   productos: ['Manzana','Pera','Naranja'],
						   productos2: [
						   		{
						   			nombre:"Manzana"
						   		},
						   		{
						   			nombre:"Pera"
						   		}
						   ],
						   resultado: ''
						},
						// DEFINO UNA FUNCION showProducts
						// lo que hace es transformar la variable show = true
						methods: {
							obtenerItem(item){
								this.resultado = item;
							},
							obtenerItem2(item){
								this.resultado = item.nombre;
							}
						}
					})

	</script>
</body>
</html>