<!DOCTYPE html>
<html>
<head>
	<title>VUE APP</title>
	<script src="./lib/vue.js"></script>
</head>
<body>
	<div id="app">
		<div id="resultado">
			<!-- Agrego el v-model con producto -->
			<input type="text" v-model="producto">
			<!-- Agrego la función agregarItem que va a colocar el valor "producto"
				del v-model dentro de la lista "productos"
			 -->
			<button v-on:click="agregarItem">Agregar</button>

			<ul>
				<!-- Itero productos dentro del ul, li -->
				<li v-for="producto in productos">{{producto}}</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">

		let app = new Vue({
						  el: '#app',
						  data: {
						  // Defino productos como vacio para ir cargando luego
						   productos: [],
						   // defino producto como vacio para que el v-model esté vacio a la hora de cargar un nombre
						   producto: ''
						},
						methods: {
							// Defino agregarItem donde va hacer un push de los elementos
							// del v-model para dentro de productos "this.productos.push(producto)"
							agregarItem(){
								this.productos.push(this.producto);

								// al final luego de agregar al array de productos
								// limpio el elemento producto para que el v-model esté vacio
								this.producto = ''
							}
						}
					})

	</script>
</body>
</html>