<!DOCTYPE html>
<html>
<head>
	<title>VUE APP</title>
	<script src="./lib/vue.js"></script>
</head>
<body>

	<div id="app">
		<p>{{message ? message : 'Hola Mundo'}}</p>
	</div>

	<script type="text/javascript">
		
		let app = new Vue({
						  el: '#app',
						  data: {
						    message: 'Buenas tardes'
						}
					})

	</script>
</body>
</html>