<!DOCTYPE html>
<html>
<head>
	<title>VUE APP</title>
	<script src="./lib/vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- CREO UN BOTON con v-on:click y llamo a la función showProducts -->
		<button v-on:click="showProducts">Ver lista</button>

		<!-- v-if si la variable show == false no muestra -->
		<!-- si la variable show == true entonces muestra la lista -->
		<div id="resultado" v-if="show">
			<ul>
				<li v-for="producto in productos">{{producto}}</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		
		// DEFINO UN ARRAY productos: ['Manzana','Pera','Naranja']
		// LUEGO DEFINO UNA propiedad show: false
		// POR DEFECTO EL id="resultado" no se debe ver

		let app = new Vue({
						  el: '#app',
						  data: {
						   productos: ['Manzana','Pera','Naranja'],
						   show: false
						},
						// DEFINO UNA FUNCION showProducts
						// lo que hace es transformar la variable show = true
						methods: {
							showProducts: function (){
								// para acceder a los valores del objeto data
								// siempre utilizo "this" mas la propiedad
								// en este caso this.show
								this.show = true;


								// this.productos
							}
						}
					})

	</script>
</body>
</html>