<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="./lib/vue.js"></script>
	<style type="text/css">
		.deudor {
			background-color: red;
			color: #fff;
		}
		.buen-pagador {
			background-color: blue;
			color: #fff;
		}
	</style>
</head>
<body>
	<div id="app">
		<!-- <img src="https://vuejs.org/images/logo.png"> -->
		<form>
			<input type="text" name="" placeholder="Nombre" v-model="nombre">
			<br>
			<input type="text" name="" placeholder="Apellido" v-model="apellido">
			<br>
			<button type="button" v-on:click="agregarPersona">Agregar</button>
		</form>
		<p>Persona nueva: {{nombre}} {{apellido}}</p>
		<ul v-for="(persona, ind) in personas">
			<!-- SINTAXIS (obj, ind) in arrayObjs -->
			<li v-bind:class="persona.deudor ? 'deudor' : 'buen-pagador'" class="">Nombre: {{persona.nombre}}</li>
			<li>Apellido: {{persona.apellido}}</li>
			<li><button v-on:click="eliminarPersona(persona, ind)">Eliminar</button></li>
		</ul>
	</div>
	<script type="text/javascript">
		let app = new Vue({
				  el: '#app',
				  data: {
				    message: 'APP VUE',
				    nombre: '',
				    apellido: '',
				    img: 'https://vuejs.org/images/logo.png',
				    ind: 0,
				    personas: [
						{
							nombre: "Alex",
							apellido: "Casadevall",
							deudor: true
						},
						{
							nombre: "Juan",
							apellido: "Casadevall",
							deudor: false
						},
						{
							nombre: "Gabriel",
							apellido: "Casadevall",
							deudor: false
						}
				    ]
				    
				  },
				  methods: {
				  	agregarPersona: function () {
				  		let persona = {
				  			nombre: this.nombre,
				  			apellido: this.apellido,
				  			deudor: false
				  		}
				  		let find = false;

				  		// FUNCION SE LLAMA MAP
				  		// MUY PARECIDA AL FOREACH
				  		// function(item){ ... } ~ (item) => { ... }
				  		// FUNCION FLECHA
				  		// (item) => { ... }
				  		// this.personas.map( (item) => {
				  		// 	console.log("item: ", item.nombre, this.nombre)
				  		// 	if(item.nombre == this.nombre){
				  		// 		find = true;
				  		// 		return false;
				  		// 	}
				  		// })

				  		for (let i = 0; i < this.personas.length; i++) {
				  			let item = this.personas[i];
				  			
				  			if(item.nombre == this.nombre){
				  				find = true;
				  				break;
				  			}
				  		}

				  		if(!find){
				  			this.personas.push(persona)
				  		}

				  		this.nombre = ''
				  		this.apellido = ''
				  	},
				  	eliminarPersona: function (persona, index) {
				  		console.log("index: ", persona, index);
				  		this.personas.splice(index, 1)
				  	}
				  }
		})
	</script>
</body>
</html>