<!DOCTYPE html>
<html>
<head>
	<title>VUE APP</title>
	<script src="./lib/vue.js"></script>
</head>
<body>
	<style type="text/css">
		.deudor {
			background-color: red;
			color: #fff;
		}
		.buen-pagador {
			background-color: green;
			color: #fff;
		}
	</style>
	<div id="app">
		<p>{{message}}</p>
		<ul>
			<li>Nombre: <span>{{persona.nombre}}</span></li>
			<li>Apellido: <span>{{persona.apellido}}</span></li>
		</ul>
	</div>

	<div id="app-2">
	  <!-- con la directiva v-bind creo el contenido del class="" dinámico -->
	  <p>Estado de un cliente</p>
	  <span v-bind:class="cliente.debe ? 'deudor' : 'buen-pagador'" 
	  		v-bind:id="'cliente-' + cliente.id">
	    {{cliente.nombre}}
	  </span>
	</div>

	<!-- APP 3 - LISTADO DE BUEN PAGADOR -->
	<div id="app-3">
		<h2>Listado de buenos pagadores</h2>
		<p v-if="cliente.monto">
			{{cliente.nombre}} {{cliente.apellido}}
		</p>
	</div>

	<script type="text/javascript">
		
		let app = new Vue({
						  el: '#app',
						  data: {
						    message: 'Hello Vue!',
						    persona: {
						    	nombre: "Alex",
						    	apellido: "Casadevall"
						    }
					}
		})

		let app2 = new Vue({
						  el: '#app-2',
						  data: {
						    claseDinamica: 'rojo verde azul',
						    cliente: {
						    	id: 10,
						    	nombre: "Alex",
						    	debe: true
						    }
					}
				})

		let app3 = new Vue({
						  el: '#app-3',
						  data: {
						    cliente: {
						    	id: 10,
						    	nombre: "Alex",
						    	apellido: "Casadevall",
						    	buenPagador: true,
						    	monto:100
						    }
					}
				})

	</script>
</body>
</html>