<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="./lib/vue.js"></script>
	<style type="text/css">
		.deudor {
			background-color: red;
			color: #fff;
		}
		.buen-pagador {
			background-color: blue;
			color: #fff;
		}
	</style>
</head>
<body>
	<div id="app">
		<p>{{message}}</p>
		<img v-bind:src="img">
		<!-- <img src="https://vuejs.org/images/logo.png"> -->
		<form>
			<input type="text" name="" placeholder="Nombre" v-model="nombre">
			<br>
			<input type="text" name="" placeholder="Apellido" v-model="apellido">
			<br>
			<button type="button" v-on:click="agregarPersona">Agregar</button>
		</form>
		<p>Persona nueva: {{nombre}} {{apellido}}</p>
		<ul v-for="persona in personas">
			<li v-bind:class="persona.deudor ? 'deudor' : 'buen-pagador'" class="">Nombre: {{persona.nombre}}</li>
			<li>Apellido: {{persona.apellido}}</li>
		</ul>
	</div>
	<script type="text/javascript">
		let app = new Vue({
				  el: '#app',
				  data: {
				    message: 'APP VUE',
				    nombre: '',
				    apellido: '',
				    img: 'https://vuejs.org/images/logo.png',
				    personas: [
						{
							nombre: "Alex",
							apellido: "Casadevall",
							deudor: true
						},
						{
							nombre: "Juan",
							apellido: "Casadevall",
							deudor: false
						},
						{
							nombre: "Gabriel",
							apellido: "Casadevall",
							deudor: false
						}
				    ]
				    
				  },
				  methods: {
				  	agregarPersona: function () {
				  		let persona = {
				  			nombre: this.nombre,
				  			apellido: this.apellido,
				  			deudor: false
				  		}
				  		this.personas.push(persona)

				  		this.nombre = ''
				  		this.apellido = ''
				  	}
				  }
		})
	</script>
</body>
</html>