<!DOCTYPE html>
<html>
<head>
	<title>VUE APP - IT</title>
	<script src="./lib/vue.js"></script>
</head>
<body>

	<div id="app">
		<ul>
			<li v-for="producto in productos">
				$ {{producto.precio}} - {{producto.nombre}}
			</li>
		</ul>
		<div>
			<p>Mi nuevo producto: $ {{precioProducto}} - {{nombreProducto}}</p>
			<br>
			<input type="text" v-model="nombreProducto">
			<br>
			<input type="number" v-model="precioProducto">
			<br>
			<button v-on:click="agregarProducto">Agregar</button>
		</div>
	</div>

	<script type="text/javascript">
		let app = new Vue({
						  // ELEMENTO DONDE CORRE VUE
						  el: '#app',
						  // DATA ES EL OBJETO QUE CARGA TODOS 
						  // LOS DATOS QUE SE PLASMAN EN LA VISTA
						  data: {
						  	nombreProducto: 'Naranja',
						  	precioProducto: 0,
						    productos: [
						    	{
						    		nombre: "Manzana",
						    		precio: 10
						    	},
						    	{
						    		nombre: "Pera",
						    		precio: 10
						    	}
						    ]
						},
						// FUNCIONES DE MI VISTA
						methods: {
							agregarProducto: function () {
								let producto = {
									nombre: this.nombreProducto,
									precio: this.precioProducto
								}

								this.productos.push(producto);
								console.log("producto nuevo: ", producto)
							},
							servicioUno: function ( callback ) {
								let xhttp = new XMLHttpRequest();
								let API   = "https://api.coindesk.com/v1/bpi/currentprice.json";

								xhttp.onreadystatechange = function () {
									if (xhttp.readyState == 4) {
										productos = JSON.parse(xhttp.responseText);

										// DEVUELVE ARR DE PRODUCTOS
										callback(productos);
									}
								}

								// OBTENER LOS DATOS POR GET
								xhttp.open('GET', API);
								xhttp.send();
							}
						},
						mounted: function () {
							console.log("mounted method ::");

							this.servicioUno( function (res) {
								console.log("res: ", res);							
							})
						}
				})
	</script>
</body>
</html>