<div style="margin-top: 1rem;">
	<h2>Productos <button class="btn btn-primary" style="float: right;" onclick="productoController(ServicioProducto).viewListadoProducto()">Listado</button></h2>
	<div class="container">
		<form>
			<input type="hidden" name="_id">
			<input type="text" name="nombre" placeholder="Nombre" class="form-control">
			<br>
			<input type="number" name="precio" placeholder="Precio" class="form-control">
			<br>
			<input type="text" name="categoria" placeholder="categoria" class="form-control">
			<br>
			<button type="button" class="btn btn-success" onclick="productoController(ServicioProducto).guardarProducto()">Guardar</button>
		</form>
	</div>
</div>