<div style="margin-top: 1rem">
	<h2>Productos <button class="btn btn-primary" style="float: right;" 
		onclick="productoController(ServicioProducto).viewFormProducto()"> + Producto</button></h2>
	<div class="container">
		<table class="table" id="listadoProductos">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Categoria</th>
					<th></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>