<div style="margin-top: 1rem;">
	<h2>Clientes <button class="btn btn-primary" style="float: right;" onclick="clienteController(ServicioCliente).viewListadoCliente()">Listado</button></h2>
	<div class="container">
		<form>
			<input type="hidden" name="_id">
			<input type="text" name="nombre" placeholder="Nombre" class="form-control">
			<br>
			<input type="text" name="apellido" placeholder="Apellido" class="form-control">
			<br>
			<input type="email" name="email" placeholder="Email" class="form-control">
			<br>
			<button type="button" class="btn btn-success" onclick="clienteController(ServicioCliente).guardarCliente()">Guardar</button>
		</form>
	</div>
</div>