<div style="margin-top: 1rem">
	<h2>Clientes <button class="btn btn-primary" style="float: right;" 
		onclick="clienteController(ServicioCliente).viewFormCliente()"> + Cliente</button></h2>
	<div class="container">
		<table class="table" id="listadoClientes">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>