<template>
  <!-- Listado -->
  <view class="container">
    
    <scroll-view
      v-if="!showForm"
      :content-container-style="{contentContainer: {
          paddingVertical: 20
      }}">
      <text 
        v-for="contacto in contactos"
        :on-press="() => showContact(contacto)"
        >Nombre: {{contacto.nombre}} - {{contacto.numero}}</text>

        <touchable-opacity
        class="button__cancel" 
        :on-press="obtenerContactos"
        >
          <text class="buttonText">Actualizar</text>
      </touchable-opacity>

    </scroll-view>
    
    <!-- Formulario -->
    <view v-if="showForm" class="container__form">
      <text-input
          class="inputComponent"
          v-model="contacto.nombre"
          placeholder="Nombre"
        />

      <text-input
          class="inputComponent"
          v-model="contacto.numero"
          placeholder="Celular"
      />

      <text-input
          class="inputComponent"
          v-model="contacto.direccion"
          placeholder="Dirección"
      />
      <touchable-opacity
        class="button" 
        :on-press="guardarContacto"
        >
          <text class="buttonText">Guardar</text>
      </touchable-opacity>

      <touchable-opacity
        class="button__cancel" 
        :on-press="cancelForm"
        >
          <text class="buttonText">Cancelar</text>
      </touchable-opacity>

    </view>

  </view>
</template>

<!-- Agregar la lógica de Vue -->
<script>
  import React from 'react';
  import AsyncStorage from '@react-native-community/async-storage';

	// Pueden importar modulos
	export default {
    props: {
        navigation: {
          type: Object
        }
    },
	  data() {
	    return {
	      titulo: "Contactos",
        contactos: [],
        contacto: {},
        showForm: false
	    };
	  },
	  methods: {
      showContact: function (contact) {
        this.contacto = contact;
        this.showForm =  true;
      },
      changeListado: function () {
        this.navigation.navigate("Listado");
      },
      changeIngresar: function () {
        this.navigation.navigate("Formulario");
      },
      guardarContacto: function () {
        this.showForm =  false;
      },
      cancelForm: function () {
        this.showForm =  false;
      },
      obtenerContactos: async function() {
          console.log("asyncData ::")

          let asyncData    = await AsyncStorage.getItem('_contactoData');

          if(asyncData){
            this.contactos = JSON.parse(asyncData);
          }
      }
	  },
    mounted: function () {
      this.obtenerContactos()
    }
	};
</script>

<style>
.text-color-primary {
  color: blue;
}
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-color-primary {
  color: blue;
}
.inputComponent {
  border-color: #333;
  height: 50;
  width: 200;
  border-width: 1;
  padding-left: 10;
  margin-bottom: 20;
}
.button {
  border-width: 1;
  border-color: #03b;
  padding: 10;
  margin: 20;
  background-color: #03b;
}

.button__cancel {
  border-width: 1;
  border-color: #666;
  padding: 10;
  margin: 20;
  background-color: #666;
}

.buttonText {
  text-align: center;
  color: #fff;
}
</style>
