<template>
  <view class="container">
    <text-input
        class="inputComponent"
        v-model="contacto.nombre"
        placeholder="Nombre"
      />

    <text-input
        class="inputComponent"
        v-model="contacto.numero"
        placeholder="Celular"
    />

    <text-input
        class="inputComponent"
        v-model="contacto.direccion"
        placeholder="Dirección"
    />
    <touchable-opacity
      class="button" 
      :on-press="guardarContacto"
      >
        <text class="buttonText">Guardar</text>
    </touchable-opacity>
  </view>
</template>

<!-- Agregar la lógica de Vue -->
<script>

  import React from 'react';
  import { Alert } from 'react-native';
  import AsyncStorage from '@react-native-community/async-storage';

	// Pueden importar modulos
	export default {
    props: {
      navigation: {
        type: Object
      }
    },
	  data() {
      console.log("a ver data :: ", this.navigation)
	    return {
	      titulo: "Formulario",
        contacto: {
          nombre: '',
          numero: 0,
          direccion: ''
        }
	    };
	  },
	  methods: {
      buenas: function () {
        let runGetContact = async () => {
          setTimeout( async () => {
           let storeByContact = await AsyncStorage.getItem('_storeContacto')

            if(storeByContact){
              this.contacto = JSON.parse(storeByContact);
            }
          }, 100)
        }
        runGetContact();
      },
      guardarContacto: async function () {
        console.log("contacto: ", this.contacto)

        let _contactoData = [];
        let asyncData     = await AsyncStorage.getItem('_contactoData');

        // Convertir el asyncData en un objeto de JavaScript
        _contactoData     = asyncData ? JSON.parse(asyncData) : []

        _contactoData.push(this.contacto);

        console.log("_contactoData: ", _contactoData)

        // Voy a guarsar todo el "_contactoData"
        this.storeData(_contactoData)
      },
      storeData: async function (value){
          try {
            await AsyncStorage.setItem('_contactoData', JSON.stringify(value))

            Alert.alert(
                'Success',
                'Contacto ('+this.contacto.nombre+') guardado correctamente',
                [
                    {text: 'OK', onPress: () => {
                        console.log('OK Pressed')
                      }
                    },  
                ],
                { cancelable: false }
            );

            // Clear
            this.contacto = {
              nombre: '',
              numero: 0,
              direccion: ''
            }

          } catch (e) {
            console.log("e: ", e)
          }
      },
      changeListado: function () {
        this.navigation.navigate("Listado");
      },
      changeIngresar: function () {
        this.navigation.navigate("Formulario");
      }
	  },
    mounted: function () {
      this.contacto = {}
    }
	};
</script>

<style>
.container {
  background-color: white;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.text-color-primary {
  color: blue;
}
.inputComponent {
  border-color: #333;
  height: 50;
  width: 200;
  border-width: 1;
  padding-left: 10;
  margin-bottom: 20;
}
.button {
  border-width: 1;
  border-color: #03b;
  padding: 10;
  margin: 20;
  background-color: #03b;
}
.buttonText {
  text-align: center;
  color: #fff;
}
</style>
