<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<div>
			<input type="text" v-model="busqueda">
			<button v-on:click="obtenerPaises">Buscar</button>
		</div>
	 	<!-- OBTENGO EL OBJ Producto y el indice -->
	 	<table>
	 		<tr v-for="pais in paises">
	 			<td>{{pais.address.city}}</td>
	 			<td>{{pais.address.road}}</td>
	 			<td>{{pais.lat}}</td>
	 			<td>{{pais.lon}}</td>
	 		</tr>
	 	</table>
	</div>

	<script type="text/javascript">
		let API 	= "https://nominatim.openstreetmap.org/search?q=";

		let app = new Vue({
			el: '#app',
			data: {
				paises: [],
				busqueda: ''
			},
			methods: {
				obtenerPaises: function () {
					let complemento = "&format=json&polygon=1&addressdetails=1"
					let query 		= API + this.busqueda + complemento;

					axios.get(query).then( (res) => {
						this.paises = res.data;
					})
				}
			}
		})
	</script>
</body>
</html>