<div class="container">
	<div class="row" style="margin-top: 2rem;">
		<div class="col-3"></div>
		<form class="col-6">
			<h2>{{titulo}}</h2>
			<input  type="text" 
					class="form-control" 
					placeholder="Usuario" 
					v-model="objLogin.usuario">
			<br>
			<input  type="password" 
					class="form-control" 
					placeholder="Clave" 
					v-model="objLogin.clave">
			<br>
			<button class="btn btn-success" type="button" v-on:click="loginUser">Ingresar</button>
		</form>
		<div class="col-3"></div>
	</div>
</div>