<div class="container" style="margin-top: 2rem;">
	<h2>{{titulo}}
		<router-link class="btn btn-secondary" style="float: right;" to="/">Salir</router-link>
		<router-link class="btn btn-primary" style="float: right; margin-right: 0.5rem" to="/usuarios">Usuarios</router-link>
	</h2>
</div>