<!DOCTYPE html>
<html>
<head>
	<title>BOT - VUE</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--  -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- LIB VUE -->
    <script type="text/javascript" src="lib/vue.js"></script>
</head>
<body>
	<!-- 
		
		- 0: me: Hola asdasdasd
		- 1: Bot: asdsad
		- 2: Bot: necesito tu usuario

		----
		
		AUTENTICACION: 

		- 3: me: hola
		- 4: Bot: ahora necesito tu clave
		- 5: me: hola
		- 6: Bot: tu clave es correcta

		--- 

		- 7: Bot: En que te puedo ayudar?
		- 8: me: Quiero un prestamo

		- 9: Bot: 	1. “Quieres pedir un préstamo?”
					2. “Condiciones para préstamos”
					3. “Ayuda”
		- 10: me: 1
		- 11: Bot: informacion ...

	 -->
	<div id="app">
		<div class="container chat--area">
			<p>Estado conv: {{estado}}</p>
			<ul class="msg--tree">
				<li v-bind:class="item.type" v-for="(item, key) in mensajes">
					<p v-if="item.typeMsg != 'html'"><b>{{item.type}}: </b> {{item.mensaje}}</p>
					<div v-if="item.typeMsg == 'html'">
						<p><b>{{item.type}}:</b></p>
						<p v-html="item.mensaje"></p>
					</div>
				</li>
			</ul>
			<div class="row">
				<div class="col-10">
					<input type="text" v-model="mensaje" class="form-control" placeholder="Escribe texto ...">
				</div>
				<div class="col-2">
					<button class="btn btn-primary col-12" style="float: right;" v-on:click=addMensaje>
						Enviar
					</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="app/app.js"></script>
</body>
</html>