<div class="container" style="margin-top: 2rem;">
	<h2>{{titulo}}
		<router-link class="btn btn-secondary" style="float: right;" to="/usuarios">Volver</router-link>
	</h2>
	<form>
		<input type="text" placeholder="Nombre" name="nombre" class="form-control" v-model="usuario.nombre">
		<br>
		<input type="text" placeholder="Apellido" name="apellido" class="form-control" v-model="usuario.apellido">
		<br>
		<input type="text" placeholder="Usuario" name="usuario" class="form-control" v-model="usuario.usuario">
		<br v-if="usuario.id == 0">
		<input v-if="usuario.id == 0" type="password" placeholder="Clave" name="clave" class="form-control" v-model="usuario.clave">
		<br>
		<input type="number" name="activo" class="form-control" v-model="usuario.activo">
		<br>
		<button class="btn btn-success" type="button" v-on:click="guardarUsuario">Guardar</button>
		<router-link class="btn btn-secondary" to="/usuarios">Cancelar</router-link>
		<button class="btn btn-danger" v-if="usuario.id !== 0" type="button" v-on:click="eliminarUsuario">Eliminar</button>
	</form>
</div>