<div class="container" style="margin-top: 2rem;">
	<h2>{{titulo}}
		<router-link class="btn btn-secondary" style="float: right;" to="/">Salir</router-link>
		<router-link class="btn btn-primary" style="float: right; margin-right: 0.5rem" to="/usuario/new">Crear</router-link>
	</h2>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Usuario</th>
				<th>Activo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="usuario in usuarios">
				<td>{{usuario.id}}</td>
				<td>{{usuario.nombre}}</td>
				<td>{{usuario.apellido}}</td>
				<td>{{usuario.usuario}}</td>
				<td>{{usuario.activo == 1 ? 'SI' : 'NO'}}</td>
				<td>
					<router-link class="btn btn-primary" v-bind:to="'/usuario/' + usuario.id">Editar</router-link>
				</td>
			</tr>
		</tbody>
	</table>
</div>