<div id="contact--container">
	<h1>Contacto</h1>
	<div style="margin-bottom: 4rem" v-for="item in itemsContact">
		<h3>{{item.titulo}}</h3>
		<p>{{item.nombre}}</p>
		<p>{{item.email}}</p>
		<p>{{item.asunto}}</p>
		<p>{{item.mensaje}}</p>
		<a href="#" class="btn btn-primary">{{item.btnText}}</a>
	</div>
</div>