<div id="contact--container">
	<h1>Contacto</h1>
		<div style="margin-bottom: 4rem" v-for="item in itemsContact">
		<form>
			<h3>{{item.titulo}}</h3>
					<fieldset>
									<div v-html="item.nombre"></div>
									<div v-html="item.apellido"></div>
								
								<p>
									<label for="mail">E-mail:</label>
									<input type="text" name="nombres" id="mail">
								</p>
								<p>
									<label for="asunto">Asunto:</label>
									<input type="text" name="nombres" id="asunto">
								</p>
					</fieldset>
		<section id="botones">
			<p>
				<input type="submit">
				<input type="reset">
			</p>
		</section>
</form>



		<!-- <p>{{item.nombre}}</p>
		<p>{{item.email}}</p>
		<p>{{item.asunto}}</p>
		<p>{{item.mensaje}}</p>
		<a href="#" class="btn btn-primary">{{item.btnText}}</a> -->
	</div>
</div>